*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

.navbar-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.navbar{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar-category{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 30px
}

.navbar-category > .navlink{
    text-decoration: none;
    width: 70px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid white;
    padding: 0 0 20px 0;
}

.navbar-category > .navlink:hover {
    border-bottom: 2px solid #5ECE7B;
    color: #5ECE7B;
    cursor: pointer;
}

.navbar-cart{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 30px
}
.cart-wrapper{
    position: relative;
    display: flex;
}

.notify{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: black;
    color: white;
    position: absolute;
    right:-8px;
    top:-8px;
    z-index: 10;

}